<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
						"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html> 
<head>
	<title>MyWeight - Edit User Profile</title>
	<%= stylesheet_link_tag "myweight", :media => "all" %>
</head> 
<body id="store">
<h2>Profile</h2>
<p>Go to <%= link_to "weights", home_index_path%>.</p>
<p>Go to <%= link_to "profile", user_profile_index_path%>.</p>
<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
			<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table>
			<tr>
				<td><div class="tab_profile_header"><%= f.label :email %></div></td>
				<td align="left"><div class="tab_profile_value"><%= f.text_field :email, :size => 40  %></div></td>
			</tr>
			<tr>
				<td><div class="tab_profile_header"><%= f.label :height %></div></td>
				<td align="left"><div class="tab_profile_value"><%= f.text_field :height, :size => 5 %>cm</div></td>
			</tr>
			<tr>
				<td><div class="tab_profile_header"><%= f.label :perc_fat %></div></td>
				<td align="left"><div class="tab_profile_value"><%= f.text_field :perc_fat, :size => 5 %>%</div></td>
			</tr>
			<tr>
				<td><div class="tab_profile_header"><%= f.label :gender %></div></td>
				<td align="left"><div class="tab_profile_value"><%= f.select :gender, options_for_select([["Male", "Male"], ["Female", "Female"]], @user.gender) %></div></td>
			</tr>
			<tr>
				<td>
				<div class="tab_profile_header"><%= f.label :password, "Password" %></div></td>
				<td align="left"><div class="tab_profile_value"><%= f.password_field :password, :autocomplete => "off" , :size => 20 %></div></td>
			</tr>
			<tr>
				<td><div class="tab_profile_header"><%= f.label :password_confirmation %></div></td>
				<td align="left"><div class="tab_profile_value"><%= f.password_field :password_confirmation, :size => 20 %></div></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><div class="tab_profile_value"><%= f.submit %></div></td>
			</tr>
		</table>

<% end %>

</body>
</html>
