<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
						"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html> 
<head>
	<title>MyWeight</title>
	<%= stylesheet_link_tag "myweight", :media => "all" %>
</head> 
<body id="store">
<h2>My Weight</h2>
<p>Go to <%= link_to "profile", user_profile_index_path%></p>
<div class="insert_weight">
<%= render "weights/form" %>
</div>
<p>
<div class="ideal_weight">
<%= render "weights/ideal_weight" %>
</div>
<p>
<div class="graph_weight">
<%= render "weights/show" %>
</div>
</body>
</html>
