<h1>Listing weights</h1>

<table>
  <tr>
    <th>Weight</th>
    <th>Date</th>
    <th>Waist</th>
    <th>Neck</th>
    <th>Height</th>
    <th>Percent Fat</th>
    <th>User Id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @weights.each do |weight| %>
  <tr>
    <td><%= weight.weight %></td>
    <td><%= weight.date %></td>
    <td><%= weight.waist %></td>
    <td><%= weight.neck %></td>
    <td><%= weight.height %></td>
    <td><%= weight.perc_fat %></td>
    <td><%= weight.user_id %></td>
    <td><%= link_to 'Show', weight %></td>
    <td><%= link_to 'Edit', edit_weight_path(weight) %></td>
    <td><%= link_to 'Destroy', weight, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Weight', new_weight_path %>
