<table>
  <tr>
    <th align="left">Weight</th>
    <th align="left">Fat Weight</th>
    <th align="left">Lean Weight</th>
    <th align="left">Date</th>
    <th align="left">Date</th>
  </tr>
<% @weights.each do |weight| %>
  <tr>
    <td width="65" align="left"><div"><%= number_with_precision(weight.weight) %></div></td>
    <td width="90" align="left"><div><%= number_with_precision(calculate_fat_weight(weight.weight, current_user.height, weight.waist, weight.neck, weight.hip)) %></div></td>
    <td width="100" align="left"><div><%= number_with_precision(calculate_lean_weight(weight.weight, current_user.height, weight.waist, weight.neck, weight.hip)) %></div></td>
    <td width="140" align="left"><div><%= l weight.date, :format => :short  %></div></td>
    <td width="140" align="left"><div><%= number_with_precision(calculate_ideal_weight(weight.weight, current_user.height, weight.waist, weight.neck, weight.hip, current_user.perc_fat))  %></div></td>
  </tr>
<% end %>
</table>
