<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
						"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html> 
<head>
	<title>MyWeight - User Profile</title>
	<%= stylesheet_link_tag "myweight", :media => "all" %>
</head> 
<body id="store">
<h2>Profile</h2>
<p>Go to <%= link_to "weights", home_index_path%>.</p>
<table>
  <tr>
  	<td><div class="tab_profile_header">Email</div></td>
  	<td align="left">
  		<div class="tab_profile_value"><%= @user.email %></div>
  	</td>
  </tr>
  <tr>
  	<td><div class="tab_profile_header">Height</div></td>
  	<td align="left"><div class="tab_profile_value"><%= number_with_precision(@user.height) %></div></td>
  </tr>
  <tr>
  	<td><div class="tab_profile_header">Percent Desired</div></td>
  	<td align="left"><div class="tab_profile_value"><%= number_to_percentage(@user.perc_fat, :precision => 0) %></div></td>
  </tr>
</table>
</body>
</html>